apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: grafana
  namespace: flicknote-monitor
spec:
  interval: 30m
  releaseName: grafana
  chart:
    spec:
      chart: grafana
      version: "10.2.0"
      sourceRef:
        kind: HelmRepository
        name: grafana
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    remediation:
      retries: 3
  values:
    persistence:
      enabled: true
      size: 5Gi
    adminPassword: admin
